/* :host {} */
.navbar {
    border-bottom: 4px solid var(--link-colour);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: azure;
}

.navbar .brand {
    font-size: 2.67em;
    margin: 0 .2em;
}

.navbar .brand {
    text-decoration: none;
}

.navbar ul {
    margin: 0;
}

.navbar ul li {
    display: inline-block;
    margin: 0 1em 0 0;
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--color-1);
}