<nav class="navbar">
    <div class="brand"><a routerLink="/">Eima</a></div>
    <div></div>
    <ul *ngIf="(isAuthenticated$ | async) as isAuthenticated; else loginBlock">
        
        <li><a routerLink="course">Course</a></li>
        <li><a routerLink="student">Student</a></li>
        <li><a routerLink="course-dashboard">Course-Dash</a></li>
        <li><a routerLink="student/dashboard">Student-Dash</a></li>
        <li><a routerLink="aam" title="Authentication and Authorization management">AAM</a></li>
        <li><a routerLink="logout">Log out</a></li>
    </ul>
    <ng-template #loginBlock>
        <!--
        <div>
            <button>Login</button>
        </div>
        -->
    </ng-template>
</nav>