/* You can add global styles to this file, and also import other style files */
:root {
    --bg-colour: azure;;

    --txt-colour: #111111;
    --color-1: #b1c25e;
    --color-2: #464838;
    --color-3: #00d2de;
    --color-4: #abad9a;
    --link-colour: #009aa7;
}

body {
    background-color: var(--bg-colour);
    color: var(--txt-colour);
}

a {
    color: var(--link-colour);
}