<header class="page">
  <h1>Projects</h1>
</header>

<main class="page">
  <table>
    <thead>
    <tr>
      <th class="action" colspan="5">
        <a routerLink="/project/registration">Add New</a>
      </th>
    </tr>
    <tr>
      <th>#</th>
      <th>Project Name</th>
      <th>Current version</th>
      <th>Next version</th>
      <th>Configuration</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Project 1</td>
      <td>0.1</td>
      <td>0.2</td>
      <td>edit</td>
    </tr>
    <tr>
      <td></td>
      <td>Project 2</td>
      <td>0.1</td>
      <td>0.2</td>
      <td>edit</td>
    </tr>
    <tr>
      <td></td>
      <td>Project 3</td>
      <td>0.1</td>
      <td>0.2</td>
      <td>edit</td>
    </tr>
    <tr>
      <td></td>
      <td>Project 4</td>
      <td>0.1</td>
      <td>0.2</td>
      <td>edit</td>
    </tr>

    </tbody>
  </table>

</main>
