<header class="page">
  <h1>Configuration</h1>
</header>

<main>
  <table>
    <thead>
    <tr>
      <th>Project Name</th>
      <th>Current version</th>
      <th>Next version</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Project 1</td>
      <td>0.1</td>
      <td>0.2</td>
    </tr>
    <tr>
      <td>Project 2</td>
      <td>0.1</td>
      <td>0.2</td>
    </tr>
    <tr>
      <td>Project 3</td>
      <td>0.1</td>
      <td>0.2</td>
    </tr>
    <tr>
      <td>Project 4</td>
      <td>0.1</td>
      <td>0.2</td>
    </tr>

    </tbody>
  </table>

</main>
