<h1>Register User</h1>

<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" formControlName="username" required />
    <ng-container *ngIf="registrationForm.get('username')?.hasError('required')">
      Username is required
    </ng-container>
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" required />
    <ng-container *ngIf="registrationForm.get('password')?.hasError('required')">
      Password is required
    </ng-container>
  </div>

  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" required />
    <ng-container *ngIf="registrationForm.get('email')?.hasError('required')">
      Email is required
    </ng-container>
    <ng-container *ngIf="registrationForm.get('email')?.hasError('email')">
      Invalid email format
    </ng-container>
  </div>

  <div>
    <label for="displayName">Display Name:</label>
    <input type="text" id="displayName" formControlName="displayName" required />
<!--    <ng-container *ngIf="registrationForm.get('displayName')?.hasError('required')">-->
<!--      Email is required-->
<!--    </ng-container>-->
<!--    <ng-container *ngIf="registrationForm.get('displayName')?.hasError('displayName')">-->
<!--      Invalid email format-->
<!--    </ng-container>-->
  </div>

  <div>
    <button type="submit" [disabled]="registrationForm.invalid">Register</button>
  </div>

</form>
