<aside class="side-nav">
  <section class="brand">
    <div class="title">Projects</div>
  </section>
  <section class="identity">
    <div>of Zhixian</div>

  </section>
  <nav class="side-nav">
    <div class="nav-item"><a routerLink="/home">Home</a></div>
    <div class="nav-item"><a routerLink="/project/list">Projects</a></div>
    <div class="nav-item"><a routerLink="configuration-list">Configuration</a></div>
  </nav>
  <div>&nbsp;</div>
  <nav class="side-nav">
    <div class="nav-item"><a routerLink="/change-password">Change Password</a></div>
    <div class="nav-item"><a routerLink="/logout">Logout</a></div>
  </nav>
</aside>

<main class="layout">
  <router-outlet />
</main>

